In [1]:
import numpy as np
from numpy import dot, e, shape
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use("seaborn")
from sklearn.datasets import load_diabetes

<ipython-input-1-b40dcb38bc78>:5: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use("seaborn")

In [2]:
x , y = None

In [3]:
x.shape, y.shape

((442, 10), (442,))

In [4]:
pd.DataFrame(np.concatenate([x, y.reshape(-1, 1)], axis=1), columns=["Feature"]*10+[ "Target"])

,Feature,Feature,Feature,Feature,Feature,Feature,Feature,Feature,Feature,Feature,Target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135.0
...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485,104.0
439,0.041708,0.050680,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491,132.0
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930,220.0
441,-0.045472,-0.044642,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064,57.0

In [6]:
def loss(y, y_hat):
  loss = np.mean((None - None)**None)
  return loss

In [7]:
def gradient(x, y, y_hat):

  m = x.shape[0]

  dw = None

  db = None

  return dw, db

In [8]:
def train(x, y, bs, epochs, lr):

  m, n = x.shape


  w = None
  b = None

  y = y.reshape((m, 1))

  losses = None

  for epoch in range(None):
    for i in range((m - 1)//bs + 1 ):

      start_i = i*bs
      end_i = start_i + bs

      xb = x[start_i:end_i]
      yb = y[start_i:end_i]

      y_hat = None

      dw, db = gradient(xb, yb, y_hat)

      w -= None * dw
      b -= None * db

      l = loss(None, None)

      losses.append(None)

  return w, b, losses

In [33]:
w, b, larray = train(x, y, bs=None, epochs=None, lr=None)

In [ ]:
plt.plot(larray)

In [12]:
w, b

(array([[ 23.9672463 ],
        [  1.96894436],
        [ 86.26505829],
        [ 63.93506161],
        [ 22.94313378],
        [ 18.54855385],
        [-59.81936328],
        [ 58.02016972],
        [ 79.56363831],
        [ 50.14075878]]),
 152.33932942325634)

In [ ]:
mse = loss(None, None)
print("MSE : "mse)